{#
/**
 * @file
 * implementation for the helperbox-contact.
#}

{% import '@helperbox/macro/social_links.html.twig' as component_social_links %}

{% set block_classes = [
    'helperbox-contact',
    block_layout
    ]
%}
<div {{attributes.addClass(block_classes)}}>
	<div class="contact-content-wrapper">
		<div class="content-left">
			{% if section_title %}
				<div class="title">
					{{ section_title }}
				</div>
			{% endif %}

			<div class="find-us-wrapper">
				<div class="title">{{find_us_title}}</div>
				{% if address %}
					<div class="address">
						{{ address }}
					</div>
				{% endif %}
			</div>

			<div class="contact-us-wrapper">
				<div class="title">{{contact_us_title}}</div>
				{% if phone_number %}
					<div class="phone_number">
						<a href="tel-to:{{ phone_number }}">{{ phone_number }}</a>
					</div>
				{% endif %}

				{% if email %}
					<div class="email">
						<a href="mailto:{{ email }}">{{ email }}</a>
					</div>
				{% endif %}
			</div>
		</div>
		<div class="content-right">
			{% if section_body %}
				<div class="description">
					{{ section_body | raw}}
				</div>
			{% endif %}
			{{selected_webform}}
		</div>
	</div>
	{% if feature_media %}
		{% for image in feature_media %}
			<div class="image-wrapper">
				<img src="{{ image.file_url }}" alt="{{ image.file_name }}" loading="lazy">
			</div>
		{% endfor %}
	{% endif %}
	{# For other block_layout  #}

</div>
